
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Gift Card Designs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src={{card_banner.image}}>

<ion-item class="margin-top">
  <ion-label>Amount</ion-label>
  <ion-select [(ngModel)]="amount">
    <div *ngFor='let item of gifts'>
      <ion-option  (ionSelect)="buy(item.giftcard_id)" value={{item.amount}}>$ {{item.amount}}</ion-option>
    </div>
    <ion-option (ionSelect)="otherselect()" >Other</ion-option>

  </ion-select>
</ion-item>

<ion-item *ngIf="otherselected" margin-top>
  <ion-label color="primary" floating>Enter Amount</ion-label>
  <ion-input type="number" [(ngModel)]="amount"></ion-input>
</ion-item>

<ion-item>
    <ion-label color="primary" floating>Message</ion-label>
    <ion-input type="text"  [(ngModel)]="message"></ion-input>
  </ion-item>

  <h3 text-center margin-top>Terms & Conditions</h3>
  <div [innerHTML]="policy" margin-top>

  </div>

<!-- <ion-card *ngFor='let item of gifts'>
       <ion-row>
         <ion-col col-8 >
          <h3 class="gc">${{item.amount}}</h3>
         </ion-col>
         <ion-col col-4 class="bl">
          <button ion-button color='primary' class="share" (click)="buy(item.giftcard_id)">Buy</button>

         </ion-col>
       </ion-row>
     </ion-card> -->
     <button ion-button block class="p_btn" (click)="proceed()">Proceed</button>
</ion-content>
