page-intro-page5 {
.button{
    float: right;
    color: white !important;
}
.toolbar-background{
    background: #27ae60;
    }
    .toolbar-title{
        color: white;
      }
      .back-button.show-back-button{
        color: white;
      }
}
