<ion-header class="Open-Sans-bold">
  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #fff;" class="Open-Sans-regular" scroll="true" overflow-scroll="true">

  <!-- <div style="font-family: Open Sans;" class="title1">
    <img src={{globals.b_logo}}  class="logo_img">
  </div> -->
  <ion-grid style="padding: 20px 0px 0px 0px;">
    <h2 style="text-align: center;"><b>Welcome back</b></h2>
    <!-- <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6 class="businessLogo"><img src={{globals.b_logo}} class="icon_img"></ion-col>
      <ion-col col-3></ion-col>
    </ion-row> -->
  </ion-grid>

  <div>
    <ion-segment [(ngModel)]="login_type" color="primary" style="padding: 8px 16px 0px 16px;">
      <ion-segment-button value="email">
        Login With Email
      </ion-segment-button>
      <ion-segment-button value="phone">
        Login With Phone
      </ion-segment-button>
    </ion-segment>

    <p *ngIf="submitAttempt" class="invalid-text">Please fill out all details accurately.</p>

    <div class="login-box">
      <ion-list>
        <div *ngIf="login_type == 'email'" style="height: 100%; width: 100%;">
          <form [formGroup]="loginForm" ng-submit="login(loginForm.value)">
            <ion-row>
              <ion-col>
                <ion-item class="no-padding">
                  <ion-label floating>Email</ion-label>
                  <ion-input type="submit" formControlName="email" type="email"></ion-input>
                </ion-item>
                <div class="no-border" *ngIf="!loginForm.controls.email.valid && submitAttempt">
                  <p class="invalid-text">Please enter a valid email.</p>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item class="no-padding">
                  <ion-label floating>Password</ion-label>
                  <ion-input type="submit" formControlName="password" type="password"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <div class="no-border" *ngIf="!loginForm.controls.password.valid && submitAttempt">
              <p class="invalid-text">Your password needs more than 6 characters.</p>
            </div>
          </form>
        </div>

        <div *ngIf="login_type == 'phone'" style="height: 100%; width: 100%;">
          <form [formGroup]="phoneLoginForm" ng-submit="login(phoneLoginForm.value)">
            <ion-row>
              <ion-col col-3 no-padding>
                <ion-select formControlName="code" class="code">
                  <ion-option value="+1" Selected>US +1</ion-option>
                </ion-select>
              </ion-col>

              <ion-col col-9 no-padding>
                <ion-item class="no-padding">
                  <ion-label floating>Phone</ion-label>
                  <ion-input type="submit" formControlName="phone" maxlength="10" type="tel"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <div class="no-border" *ngIf="!phoneLoginForm.controls.phone.valid && submitAttempt">
              <p class="invalid-text">Your phone number needs to be 10 digits long.</p>
            </div>

            <ion-row>
              <ion-col>
                <ion-item class="no-padding">
                  <ion-label floating>Password</ion-label>
                  <ion-input type="submit" formControlName="password" type="password"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <div class="no-border" *ngIf="!phoneLoginForm.controls.password.valid && submitAttempt">
              <p class="invalid-text">Your password needs more than 6 characters.</p>
            </div>
          </form>
        </div>

        <div>
          <ion-row>
            <!-- <ion-col col-6>
                <p style="float: right;color: #aaa" (tap)="check_phone_number()">Already a POS customer?</p>

              </ion-col> -->
            <ion-col col-12>
              <p style="float: right;color: #aaa" (tap)="verify()">Forgot Password?</p>
            </ion-col>
          </ion-row>
          <!-- <p style="float: right; padding-right:10px" (click)="OpenTermsAndPolicy()">Terms and policy</p> -->
        </div>

        <div class="signup-col" *ngIf="login_type == 'email'">
          <button ion-button block margin-top type="submit" class="login background_global"
            (tap)="login(loginForm.value)" block>Sign In</button>
        </div>

        <div class="signup-col" *ngIf="login_type == 'phone'">
          <button ion-button block margin-top type="submit" class="login background_global"
            (tap)="login(phoneLoginForm.value)" block>Sign In</button>
        </div>

        <div class="signup-col">


          <!-- <ion-row>
              <ion-col col-6 style="padding: 0px 2px 0px 0px;">
                <button showWhen="ios" ion-button block margin-top color='primary' type="submit" class="login_apple"
                  (tap)="doAppleLogin()" outline>
                  <ion-icon name="logo-apple"></ion-icon>

                  Sign In with Apple
                </button>
              </ion-col>

              <ion-col col-6 style="padding: 0px 0px 0px 2px;">
                <button  ion-button block margin-top color='primary' type="submit" class="login_google"
                  (tap)="doGoogleLogin()" outline>
                  <ion-icon name="logo-googleplus"></ion-icon>

                  Sign In with Google
                </button>
              </ion-col>
            </ion-row> -->

          <ion-row>
            <ion-col col-12 style="padding: 0px 2px 0px 0px;">
              <button ion-button block margin-top color='primary' type="submit" class="login_google"
                (tap)="doFacebookLogin()" outline>
                <ion-icon name="logo-googleplus"></ion-icon>

                Sign In with Facebook
              </button>
            </ion-col>
          </ion-row>

          <div class="signup_message">Don't have an Account? <span (tap)="createAccount()">Sign Up</span></div>
          <!-- <button ion-button class="signUp" block (click)="createAccount()">Sign up</button> -->
        </div>

      </ion-list>

    </div>

  </div>

  <!-- <div *ngIf="pos_customer">
    <ion-row>
      <ion-col col-3 no-padding>
        <ion-select [(ngModel)]="code" class="code">
          <ion-option value="+1" Selected>US +1</ion-option>

        </ion-select>
      </ion-col>
      <ion-col col-9 no-padding>
        <ion-item class="no-padding">
          <ion-label floating>Phone</ion-label>
          <ion-input type="submit" [(ngModel)]="phone" type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row padding>
      <ion-col col-6>
        <button ion-button outline block round margin-top color='danger' type="submit" class="login"
          (tap)="cancel_pos()" block>Cancel</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button round block margin-top color='primary' type="submit" class="login"
          (click)="complete_profile()" block>Procced</button>
      </ion-col>
    </ion-row>



  </div> -->




</ion-content>