page-login {
    .login-box {
  
        padding: 20px 20px 0px 20px;
       // margin-top: 70%;
       // background: transparent !important;
      }
//    .title{
//         color: white;
//         width: 100%;
//         text-align: center;
//         margin-top:20%; 
//         margin-bottom: -20%;
//     }
  
   
   .list-md .item-input:last-child{
       border-bottom: 0px !important;
   }
    .no-border {
        border: none !important; 
    }

    .code{
        width: 100%;
        max-width: 100%;
        margin-top: 56px;
        padding: 7px;
    }
  
  
  
  .signUp{
 
    position: absolute;  
    float:right;
    width:48%;
   // border-left: solid ;
   // border-left-color: black;  
    height: 50px;
    right:1.5%;
  }
//   .scroll-content{ 
    
//     overflow: scroll!important;
//     padding: 0 !important;
    
//      }

     .login{
        padding: 30px;
        font-size: 22px;
        font-weight: normal;
     }

     .login_{
        padding: 15px;
        font-size: 18px;
        font-weight: normal;
        ion-icon{
            margin-right: 10px;
        }
     }

     .signup-col{
        margin-top: 7px;
     }
     .signup_message{
         color: #777;
         text-align: center;
         span{
             color: #000000;;
             font-weight: bold;
         }

     }
     .signin_label{
         color: #444;
     }

     .logo_img{
        height: 130px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto
     }

     .toolbar-background{
        background-color: $primary !important;
        
      }
      .back-button{
        color: #fff !important;
    }
    .toolbar-title{
        color: #fff !important;

    }
  
}
