page-add-booking {
    .toolbar-background{
        background-color: $primary !important;
    }

    .back-button{
        color: #fff !important;
    }

    .toolbar-title{
        color: #fff !important;
    }
}
