page-gallery {
    .image_show{
        width: 100%;
        height: 150px;
        object-fit: cover;
        border: 4px solid #ccc;
    }
    .toolbar-background{
        background-color: $primary !important;
    
      }
      
    .back-button{
        color: #fff !important;
    }
    .toolbar-title{
        color: #fff !important;
  
    }

}
