page-proceed-model {
ion-card{
    overflow: hidden;
    padding: 10px;
}
.p{
    font-size:1.6rem;
     margin-bottom:0;
      color:#666;
     margin-top: 5px;
}
.b-p{
    color:#666;
    margin-top: 5px;
    font-size: 15px;
    margin-left: 8px;
    margin-bottom: 0px
}
.div{
    margin: 8px;
   // margin-right: 8px
}
.h5{
    margin-top: 0px;
margin-bottom: 5px
}
.col-mar{
    margin-top:0px;
    margin-bottom: 0px;
}
.label{
    color:#666;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center !important;
}
}
