
<ion-header class="Open-Sans-bold">

    <ion-navbar color="primary">
        <ion-title>{{name}}</ion-title>
       
        <ion-buttons end>
            <button ion-button    (click)="cartpage()">
                <ion-badge color="danger" *ngIf="globals.Product.length > 0">{{globals.Product.length}}</ion-badge>
                <ion-icon name="cart" style="font-size: 2.5rem;"> </ion-icon>
            </button>

        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="Open-Sans-regular" >
        <ion-searchbar [(ngModel)]="keyword" [showCancelButton]="shouldShowCancel"  (ionInput)="searchnew()" name="first"></ion-searchbar>        

    <img src={{globals.b_logo}} class="icon-main">
   
    <ion-row>
         <button *ngIf="!globals.caos_flag" ion-button outline block round clear class="u-d" color="primary" (click)="presentModal1()">Update Delivery or Pickup</button>

    </ion-row>

    <div padding>
        <ion-segment [(ngModel)]="categories_section" *ngIf="globals.catering_enabled">
                <ion-segment-button value="category">
                    Regular Items
                </ion-segment-button>
                <ion-segment-button value="catering">
                    Catering Items 
                </ion-segment-button>
            </ion-segment>
    </div>
   
        <div [ngSwitch]="categories_section">
            <ion-list *ngSwitchCase="'category'">
                    <ion-card *ngIf="DataFlag" style="text-align:center; padding: 20px; font-size: 2rem; font-weight: bold; color:#273C75;margin-top:40%">
                            Menus coming soon 
                        </ion-card>
                        <div *ngFor="let d of category; let i=index">
                            <div style="position: relative;" *ngIf="d.is_anniversary == 'false' && d.is_birthday == 'false' && d.items.length > 0 && d.catering_enabled == false"  text-wrap [ngClass]="{active: isGroupShown(i)}">
                                <img  class="cat-img1" *ngIf="d.dealFlag == 'true'" src="assets/imgs/promotion.png">
                               <!-- <img *ngIf="!d.image" class="cat-img" src="assets/imgs/Category-Placeholder.png"-->
                                <div *ngIf="d.image" (click)="toggleGroup(i)" [ngStyle]="{'background-image': 'url('+d.image+')'}" class="b_image" >
                                   <div class="overlay accrodian" [ngClass]="{active_accrodian: !isGroupShown(i)}">
                                    {{d.name}}
                                    <ion-icon  item-right [name]="isGroupShown(i) ? 'ios-arrow-down' : 'ios-arrow-forward'"></ion-icon>
                    
                                   </div>
                                </div>
                                <p *ngIf="!d.image" (click)="toggleGroup(i)" [ngStyle]="{'background-color': d.color}" class="accrodian" [ngClass]="{active_accrodian: !isGroupShown(i)}">
                                    {{d.name}}
                                    <ion-icon  item-right [name]="isGroupShown(i) ? 'ios-arrow-down' : 'ios-arrow-forward'"></ion-icon>
                                </p>
                        
                        
                                <div *ngIf="isGroupShown(i)" >
                                    <ion-list>
                                        <ion-card *ngFor="let a of d.items">
                                       <ion-row *ngIf="a.stock_quantity > 0" (click)="Detail(a.id,a.image,a.freeExtras,true)">
                                            <ion-col col-3 style="margin: auto;" >
                                                
                                                <img class="itm-img" *ngIf="a.image" src="{{a.image}}">
                                                <img class="itm-img" *ngIf="a.image == '' || !a.image" src={{globals.b_logo}}>
                                            </ion-col>
                                            <ion-col col-6 style="margin:auto">
                                                 
                                                <p  style="color:#444;font-size:1.5rem">{{a.name}} </p>
                                                <p  style="font-size:1.3rem;    padding-bottom: 10px;">{{a.tagline}} </p>
                        
                        
                                            </ion-col>
                                            <ion-col col-3 text-right style="color:#444;margin: auto;padding: 0;">
                                                    <div *ngIf="i==0" class="for-badge">
                                                            <ion-badge  style="background-color: transparent">  </ion-badge>
                                                    </div>
                                                    
                                                    <span *ngIf="a.quantity * a.price != 0 || a.quantity * a.price != '0' || a.price">${{a.quantity * a.price | number : '1.2-2'}}</span>
                                            </ion-col>
                                        </ion-row>
                    
                                        <ion-row *ngIf="a.stock_quantity == 0">
                                                <ion-col col-3 style="margin: auto;" >
                                                    
                                                    <img class="itm-img" *ngIf="a.image" src="{{a.image}}">
                                                    <img class="itm-img" *ngIf="a.image == '' || !a.image" src={{globals.b_logo}}>
                                                </ion-col>
                                                <ion-col col-6 style="margin:auto">
                                                     
                                                    <p  style="color:#444;font-size:1.5rem">{{a.name}} </p>
                                                    <p  style="font-size:1.3rem;    padding-bottom: 10px;">{{a.tagline}} </p>
                            
                            
                                                </ion-col>
                                                <ion-col col-3 text-right style="color:#444;margin: auto;padding: 0;">                
                                                        <span *ngIf="a.quantity * a.price != 0 || a.quantity * a.price != '0' || a.price">${{a.quantity * a.price | number : '1.2-2'}}</span>
                                                        <ion-badge  > Sold Out </ion-badge>
                                                
                                                </ion-col>
                                            </ion-row>
                                    </ion-card>
                                    </ion-list>
                                </div>
                            </div>
                        </div>
            </ion-list>
            
            <ion-list *ngSwitchCase="'catering'">
                    <ion-card *ngIf="DataFlag" style="text-align:center; padding: 20px; font-size: 2rem; font-weight: bold; color:#273C75;margin-top:40%">
                            Menus coming soon 
                        </ion-card>
                        <div *ngFor="let d of category; let i=index">
                            <div style="position: relative;" *ngIf="d.is_anniversary == 'false' && d.is_birthday == 'false' && d.items.length > 0 && d.catering_enabled == true"  text-wrap [ngClass]="{active: isGroupShown(i)}">
                                <img  class="cat-img1" *ngIf="d.dealFlag == 'true'" src="assets/imgs/promotion.png">
                               <!-- <img *ngIf="!d.image" class="cat-img" src="assets/imgs/Category-Placeholder.png"-->
                                <div *ngIf="d.image" (click)="toggleGroup(i)" [ngStyle]="{'background-image': 'url('+d.image+')'}" class="b_image" >
                                   <div class="overlay accrodian" [ngClass]="{active_accrodian: !isGroupShown(i)}">
                                    {{d.name}}
                                    <ion-icon  item-right [name]="isGroupShown(i) ? 'ios-arrow-down' : 'ios-arrow-forward'"></ion-icon>
                    
                                   </div>
                                </div>
                                <p *ngIf="!d.image" (click)="toggleGroup(i)" [ngStyle]="{'background-color': d.color}" class="accrodian" [ngClass]="{active_accrodian: !isGroupShown(i)}">
                                    {{d.name}}
                                    <ion-icon  item-right [name]="isGroupShown(i) ? 'ios-arrow-down' : 'ios-arrow-forward'"></ion-icon>
                                </p>
                        
                        
                                <div *ngIf="isGroupShown(i)" >
                                    <ion-list>
                                        <ion-card *ngFor="let a of d.items">
                                       <ion-row *ngIf="a.stock_quantity > 0" (click)="Detail(a.id,a.image,a.freeExtras,globals.catering_cart_enabled)">
                                            <ion-col col-3 style="margin: auto;" >
                                                
                                                <img class="itm-img" *ngIf="a.image" src="{{a.image}}">
                                                <img class="itm-img" *ngIf="a.image == '' || !a.image" src={{globals.b_logo}}>
                                            </ion-col>
                                            <ion-col col-6 style="margin:auto">
                                                 
                                                <p  style="color:#444;font-size:1.5rem">{{a.name}} </p>
                                                <p  style="font-size:1.3rem;    padding-bottom: 10px;">{{a.tagline}} </p>
                        
                        
                                            </ion-col>
                                            <ion-col col-3 text-right style="color:#444;margin: auto;padding: 0;">
                                                    <div *ngIf="i==0" class="for-badge">
                                                            <ion-badge  style="background-color: transparent">  </ion-badge>
                                                    </div>
                                                    
                                                    <span *ngIf="a.quantity * a.price != 0 || a.quantity * a.price != '0'">${{a.quantity * a.price | number : '1.2-2'}}</span>
                                            </ion-col>
                                        </ion-row>
                    
                                        <ion-row *ngIf="a.stock_quantity == 0">
                                                <ion-col col-3 style="margin: auto;" >
                                                    
                                                    <img class="itm-img" *ngIf="a.image" src="{{a.image}}">
                                                    <img class="itm-img" *ngIf="a.image == '' || !a.image" src={{globals.b_logo}}>
                                                </ion-col>
                                                <ion-col col-6 style="margin:auto">
                                                     
                                                    <p  style="color:#444;font-size:1.5rem">{{a.name}} </p>
                                                    <p  style="font-size:1.3rem;    padding-bottom: 10px;">{{a.tagline}} </p>
                            
                            
                                                </ion-col>
                                                <ion-col col-3 text-right style="color:#444;margin: auto;padding: 0;">                
                                                        <span *ngIf="a.quantity * a.price != 0 || a.quantity * a.price != '0'">${{a.quantity * a.price | number : '1.2-2'}}</span>
                                                        <ion-badge  > Sold Out </ion-badge>
                                                
                                                </ion-col>
                                            </ion-row>
                                    </ion-card>
                                    </ion-list>
                                </div>
                            </div>
                        </div>
            </ion-list>
        </div>

   

</ion-content>
