<!--
  Generated template for the ItemDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="Open-Sans-bold">

  <ion-navbar color="primary">
    <ion-title>Item Details</ion-title>

    <ion-buttons end>
      <button style="font-size: 3rem;" ion-button (tap)="cartpage()">
        <ion-badge color="danger" *ngIf="globals.Product.length > 0">{{globals.Product.length}}</ion-badge>
        <ion-icon name="cart"> </ion-icon>
      </button>

    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content class="Open-Sans-regular" >
  <ion-scroll style="height: calc(95% - 3rem); bottom: 10px;" scrollY="true">


  <ion-card class="m-t">
      <div class="head">
          <ion-row class="strip">
          <img *ngIf="image" (click)="image_show(image)" style="height: 100px;object-fit: cover;border-radius: 7px" src="{{image}}">

            <ion-col style="padding: 0; margin: auto;">
              <p style="font-size:2.4rem;padding-left: 5px;color: #fff;">
                {{name}}
              </p>
            </ion-col>
          </ion-row>
        </div>

    <ion-card-content style="padding: 0">

      <ion-row >
        <ion-col >
          <p class="desp">
            {{description}}
          </p>
        </ion-col>
      </ion-row>
      <ion-label style="font-size:3rem; text-align: center;" color="primary"> ${{item_price}} </ion-label>

    </ion-card-content>

    <ion-row style="height: 4.2em;border-bottom: solid thin #ccc; border-top: solid thin #ccc;">

      <ion-col col-12 style="    padding: 0; background: transparent; height: 4.1em;">
        <ion-row style="    height: inherit;">

          <ion-col col-4 style=" margin: auto;  padding: 0;  height: inherit;  ;text-align: center;">
            
            <button [disabled]="reward_item_flag"   small style="background-color:#fff;text-align: center; color: #fff;font-size: 1.3em; margin: 0;padding: 0;margin-top: 0.5em; height: 40px;width: 40px;border-radius: 50%; ">
              <ion-icon style="font-size:40px;color: #7d4148 ; "  name="ios-remove-circle-outline" (click)="removeQuantity()"> </ion-icon>
            </button>
          </ion-col>

          <ion-col style="text-align:center; margin:auto" col-4>
            <p style="font-size:3.0rem;color: #7d4148 "> {{quantity}} </p>
          </ion-col>

          <ion-col col-4 style="margin: auto;  padding: 0;  height: inherit;  text-align: center;">
            <button [disabled]="reward_item_flag"  small style="color: #fff; background-color: #fff;text-align: center; font-size: 1.3em;  padding: 0; margin: 0;margin-top: 0.5em;height: 40px;width: 40px;border-radius: 50%;">
              <ion-icon style="font-size: 40px;color: #7d4148 ;" name="ios-add-circle-outline" (click)="addQuantity()"> </ion-icon>
            </button>
          </ion-col>
        </ion-row>

      </ion-col>

    </ion-row>

    <!--<ion-list radio-group [(ngModel)]="extratoppings" *ngFor = "let toppings of extras">

  <ion-list-header>
{{toppings.heading}}
  </ion-list-header>

<ion-item *ngFor = "let options of toppings.options" >
  <ion-row>
<ion-col>  
   
{{options.name}}
</ion-col>
  <ion-col>
{{options.price}}
  </ion-col>
  </ion-row>
</ion-item>


</ion-list>-->
    <div *ngIf="extras && !noExtras">
     

      <ion-list no-lines style="padding:10px;" *ngFor="let toppings of extras;let a=index ">

        
            <ion-row style="border-bottom: solid thin #ccc;">
              <ion-col col-9>
                  <p *ngIf="toppings.heading != ''" style="font-size: 1.6rem;padding:7px;color:black; line-height: 0">
                      {{toppings.heading}}
                  </p>
                        <small>{{toppings.sub_heading}}</small>
              </ion-col>
              <ion-col col-3 *ngIf="toppings.min" style="margin:auto">
                  <ion-badge item-end color='primary'>Required</ion-badge>
              </ion-col>
            </ion-row>
            <div *ngFor="let option of toppings.options;let i = index; ">
              <ion-row *ngIf="option.name != ''" >
                <ion-col col-12 style="display: inline-flex;margin: auto;">
                  <ion-item>
                    <ion-label >{{option.name}} <span class="option_">${{option.price}}</span>
                    </ion-label>
                    <ion-checkbox  [(ngModel)]="option.IsSelected" (ionChange)="Selectedoption(toppings.heading,option,a,i,toppings.max,$event)"></ion-checkbox>  
                  </ion-item>
               <!-- <p style="margin-left: 5px;font-size: 1.4rem;
          color: black;"> </p> -->
                </ion-col>
               


              </ion-row>


              <!-- <ion-row style="      
         width: 40%;
        background: #7d4148 ;
        margin: 5px; background: #7d4148 " *ngIf="option.IsSelected">

                <ion-col col-4 style="    margin: auto;  padding: 0;  background: #7d4148 ;text-align: center;" (tap)="removeOptionQuantity(toppings.heading,option)">
                 
                  <button ion-button small style="background-color: #7d4148 ;text-align: center;  padding: 0; margin: 0">
                    <ion-icon style="font-weight:bold" name="remove"> </ion-icon>
                  </button>

                </ion-col>

                <ion-col style="text-align:center; margin:auto; background:#23609c" col-4>
                  <p style=" color:white;font-weight:bold"> {{option.quantity}} </p>
                </ion-col>

                <ion-col col-4 style="    margin: auto;  padding: 0;   background: #7d4148 ;text-align: center;" (tap)="addOptionQuantity(toppings.heading,option)">
                  <button ion-button  small style="    background-color: #7d4148 ;text-align: center;   padding: 0; margin: 0;">
                    <ion-icon style="font-weight:bold" name="add"> </ion-icon>
                  </button>

                </ion-col>
              </ion-row> -->
            </div>
           
      </ion-list>
    </div>
   
    <!-- <div *ngIf="!extras"> 

<p style="font-size:2rem;font-weight:bold;text-align:center;padding:10px;color:#7d4148 ;margin-top:20%"> No extras available on this meal</p>

</div> -->


  </ion-card>
  <ion-card>
  <!-- <div>
  
    <ion-item>
      <ion-label>
        Instructions
      </ion-label>
      <br>
      <ion-textarea placeholder="Enter a description"  [(ngModel)]="instruction" ></ion-textarea>
    
    </ion-item>
  </div> -->
  </ion-card>

</ion-scroll>

<!--   
    <footer  style=" margin-bottom: 0; padding-bottom: 0;text-align: center"></footer>
     -->
    <ion-row>
      <ion-col *ngIf="data?.item.item_instructions" style="padding-right:0px">
        <button  ion-button outline round (click)="presentModal()" >Add Instructions</button>
      </ion-col>
      <ion-col style="padding-left:0px">
        <button ion-button block round (click)="add_to_cart_timing_check()" *ngIf="type">
          Add to cart <ion-icon name="cart" style="padding-left: 7px;color: #fff" ></ion-icon></button>
      </ion-col> 
    </ion-row>
</ion-content>