page-booking {
    ion-fab{
        bottom: 20px;
        right: 20px;
    }

    ion-card{
        width: 100% !important;
        margin: 0px !important;
        padding: 10px;
        border-radius: 10px !important;
        margin-top: 10px !important;
    }

    .toolbar-background{
        background-color: $primary !important;
    }

    .back-button{
        color: #fff !important;
    }

    .toolbar-title{
        color: #fff !important;
    }

    .cancel-btn{
        margin: 52px 0px 0px 18px !important;
    }
}
