page-mobile-verification {
    .codeinput{
        background: #eee;

    font-size: 2rem;
    width: 70%;
    border: solid thin;
    margin-left: 15%;
     margin-bottom: 25px;
    margin-top: 25px;

    }
.submit-btn{
    width: 80%;
    margin-left:10% 
}
.phone .text-input{
    text-align: center
}
.phone{
    font-size: 2rem;
}
.text-input{
        padding: 5px;
}
}
