<!--
  Generated template for the OrderListingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="Open-Sans-bold">

  <ion-navbar color="primary">
    <ion-title>My Orders</ion-title>

    <!-- <ion-buttons end  (click)="info()">
      <button ion-button style="font-size: 3rem; padding-right: 10px;">
        <ion-icon ios="ios-information-circle-outline" md="md-information-circle"> </ion-icon>
      </button>

    </ion-buttons> -->
    <!-- <ion-buttons *ngIf="option == 'orders'" end style="    width: 30%;">

      <ion-icon style="color:white;font-size:3rem; float:right;margin-top:2px" name="options"> </ion-icon>


      <ion-select style="font-weight: bold;  max-width: unset;width: 76px;   padding-left: 0;
        padding-right: 5px;  float: right;padding-bottom: 0;
        color: white;" (ionChange)="Radiusvalue()" [(ngModel)]="radius" [selectOptions]="selectOptions">

        <ion-option value="5">5 miles</ion-option>
        <ion-option value="10">10 miles</ion-option>
        <ion-option value="50">50 miles</ion-option>
        <ion-option value="100">100 miles</ion-option>

        <ion-option value="100000" [selected]="true">All</ion-option>

      </ion-select>


    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content class="Open-Sans-regular">
  <!-- <ion-segment color="primary" style="padding:5px" [(ngModel)]="option" (ionChange)="segmentChanged()">
    <ion-segment-button value="orders">
      Orders
    </ion-segment-button>
    <ion-segment-button value="orders_placed">
      Orders Placed
    </ion-segment-button>
  </ion-segment> -->

  <div>
    <!-- <div *ngSwitchCase="'orders'">
      <ion-searchbar [(ngModel)]="searchTerm" (input)="setFilteredItems()" [formControl]="searchControl"></ion-searchbar>

      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull down to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

      <p style="text-align: center; margin-top: 60%;" *ngIf="flag == true">Fetching data... </p>
      <p style="text-align: center; margin-top: 60%;" *ngIf="arrayStatus">No place available in this range... </p>
      <div *ngIf="!arrayStatus && !flag">
        <div *ngFor="let place of places">
          <ion-card *ngIf="place.orders_enabled == 'active'">
            <ion-grid>
              <ion-row>
                <ion-col col-3 (tap)="OrderCategory(place.pickup_time,place.delivery_time,place.business_id,place.paypal_id,place.discount,place.stripe_id,place.hours_operation,place.minimum_order,place.delivery_time,place.delivery_fee,place.tax,place.delivery,place.pickup,place.admin_stripe_enabled,place.username,place.customer_discount_availed_count,place.business_discount_count)">
                  <img class="image" src="{{place.logo}}">
                </ion-col>

                <ion-col col-6 (tap)="OrderCategory(place.pickup_time,place.delivery_time,place.business_id,place.paypal_id,place.discount,place.stripe_id,place.hours_operation,place.minimum_order,place.delivery_time,place.delivery_fee,place.tax,place.delivery,place.pickup,place.admin_stripe_enabled,place.username,place.customer_discount_availed_count,place.business_discount_count)">
                  <p class="Open-Sans-bold" class="heading">{{place.name}} </p>

                  <rating class="rating" [(ngModel)]="place.average_rating" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                    starIconName="star" nullable="false"></rating>

                  <div>
                    <div style="display:inline-block;">
                      <p class="delivery" *ngIf="place.pickup_time != '' ">
                        <ion-icon ios="ios-time-outline" md="md-time"> </ion-icon> Pickup time: {{place.pickup_time}} </p>
                    </div>
                    <div style="display:inline-block;">
                      <p class="delivery" *ngIf="place.delivery_time != '' ">
                        <ion-icon ios="ios-time-outline" md="md-time"> </ion-icon> Delivery time: {{place.delivery_time}} </p>
                    </div>

                    <div style="display:inline-block;">
                      <p class="delivery" *ngIf="place.delivery_fee != '' ">
                        <ion-icon ios="ios-bicycle" md="md-bicycle"> </ion-icon> Delivery charges: ${{place.delivery_fee}} </p>
                    </div>
                  </div>
                  <p *ngIf="place.discount_text && place.customer_discount_availed_count < place.business_discount_count" class="Open-Sans-bold"
                    class="discount-text">{{place.discount_text}}, {{place.discount}}% </p>


                </ion-col>

                <ion-col style="padding: 0px !important;" col-3>
                  <p class="Open-Sans-regular" color="primary" class="distance">
                    <ion-icon name="pin"> </ion-icon> {{place.distanceValue}} mi </p>

                  <button ion-button small block class="review-btn" (tap)="Reviews(place.username)">
                    <ion-icon name="list-box"> </ion-icon>
                  </button>
                </ion-col>
              </ion-row>

            </ion-grid>

          </ion-card>
        </div>
      </div>
      <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" threshold="2px">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div> -->

    <div>
      <ion-refresher (ionRefresh)="doRefresh1($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull down to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
      <div *ngIf="errorMenu == true">
          <p style="padding-top: calc(50% - 11px); padding-right:20px; padding-left:20px; text-align: center; font-size: 22px; color:#a8a3a3;"><ion-icon name="eye-off"></ion-icon></p>
          <p no-margin style="padding-right:20px; padding-left:20px; text-align: center; font-size: 14px;">No Orders Found</p>
      </div>

      <div *ngIf="data">

        <div *ngFor="let order of data.orders; let i =index">
          <ion-card *ngIf="order.status">
            <ion-row (click)="detail(order.order_data,order.date_time,order.instructions,order.scheduled_time,order.restaurant_name,order.total,order.o_id,order.payment_type)" [ngStyle]="{ 'border-left' : (order.status == 'PENDING') ? '8px solid #333' : '8px solid #2ecc71' }">
              <!-- <ion-col (click)="detail(order.order_data,order.date_time,order.instructions,order.scheduled_time,order.restaurant_name,order.total,order.o_id)"
                *ngIf="order.status == 'PENDING'" col-1 style="    background: #333; color: #fff;  margin: 0;padding-top: 15px;">
                <p class="index">{{i+1}} </p>
              </ion-col>
              <ion-col *ngIf="order.status == 'ACCEPTED'" (click)="detail(order.order_data,order.date_time,order.instructions,order.scheduled_time,order.restaurant_name,order.total,order.o_id)"
                col-1 style="    background: #2ecc71; color: #fff;  margin: 0;padding-top: 15px;">
                <p class="index">{{i+1}} </p>
              </ion-col>
              <ion-col *ngIf="order.status == 'DISPATCHED'" (click)="detail(order.order_data,order.date_time,order.instructions,order.scheduled_time,order.restaurant_name,order.total,order.o_id)"
                col-1 style="    background: #34495e; color: #fff;  margin: 0;padding-top: 15px;">
                <p class="index">{{i+1}} </p>
              </ion-col> -->
              <ion-col col-9 style="padding-bottom: 2px;
              padding-right: 0;">

                <!-- <p (click)="detail(order.order_data,order.date_time,order.instructions,order.scheduled_time,order.restaurant_name,order.total,order.o_id)"
                  style="font-size:1.7rem;margin-left:5px">
                  {{order.restaurant_name}} </p> -->

                <p style="margin-bottom:2px" 
                  class="time">
                  {{order.date_time}} </p>


                <!-- <ion-label style="margin-bottom:2px" (click)="detail(order.order_data,order.date_time,order.instructions,order.scheduled_time,order.restaurant_name,order.total,order.o_id)"
                  *ngIf="order.deliveryTimeLeft > 0 && order.status == 'ACCEPTED' " class="time">
                  <ion-icon name="time-outline"> </ion-icon>{{SecondsTohhmmss(order.deliveryTimeLeft) }} </ion-label>
                <ion-label style="margin-bottom:2px;font-size: 2.6rem;" (click)="detail(order.order_data,order.date_time,order.instructions,order.scheduled_time,order.restaurant_name,order.total,order.o_id)"
                  *ngIf="order.status == 'PENDING' " class="time">
                  <ion-icon name="time-outline" style="font-size: 1em;"> </ion-icon> - -:- -:- - </ion-label>
                <ion-label style="margin-bottom:2px" (click)="detail(order.order_data,order.date_time,order.instructions,order.scheduled_time,order.restaurant_name,order.total,order.o_id)"
                  *ngIf="order.status == 'ACCEPTED' && order.deliveryTimeLeft == 0 " class="time">
                  <ion-icon name="time-outline"> </ion-icon> - -:- -:- - </ion-label>
                <ion-label style="margin-bottom:2px" (click)="detail(order.order_data,order.date_time,order.instructions,order.scheduled_time,order.restaurant_name,order.total,order.o_id)"
                  *ngIf="order.status == 'DISPATCHED'" class="time">
                  <ion-icon name="time-outline"> </ion-icon> - -:- -:- -</ion-label> -->

                <p class="order-total"> ${{order.total}}</p>

                <!-- <button ion-button color="primary" (click)="ReorderVerificationPrompt(order.order_data)" style="font-size: 1.3rem;margin-bottom:0;float:right;">
                      <ion-icon name="repeat"></ion-icon>  </button> -->
              </ion-col>

              <ion-col col-3 style="text-align: center;" >

                <p *ngIf="order.status != 'DISPATCHED'" class="status">{{order.status}}</p>
                <p *ngIf="order.status == 'DISPATCHED'" class="status">DELIVERED</p>
                <!-- <p *ngIf="order.status == 'PENDING'" style="background-color:#e67e22"  class="status">PENDING</p>
                <p *ngIf="order.status == 'ACCEPTED'"  style="background-color:#2ecc71" class="status">ACCEPTED</p> -->

              </ion-col>


            </ion-row>


          </ion-card>
        </div>
      </div>

    </div>
  </div>

</ion-content>