page-verification {

      
          .login-box {
        
            padding: 20px 20px 0px 20px;
           // margin-top: 90%;
            background: transparent !important;
          }    
         
          .button-col{ 
      
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 10%;
      }
      
      .done{
                position: absolute;
          float: left;
          width: 48%;
          height: 50px;
          left: 1.5%;
      }
      
      .cancel{
              position: absolute;
          float: right;
          width: 48%;
          height: 50px;
          right: 1.5%;
      }
}
