page-before-login {
    .btn-margin {
        // box-shadow: 0px 0px 20px #999 !important;
        border-radius: 10px;
        background: rgba(255,255,255,0.8);
    }
    .icon_img {
        width: 100%;
        border: 0;
        height: 100%;
        object-fit: cover;
    }
    .businessLogo{
        height: 200px;
    }

    .ki {
        width: 50%;
        z-index: 999;
    }

    .kk {
        margin-top: 20px !important;
        font-size: 20px;
        font-weight: bold;
        // margin-bottom: 20px;
    }

    .jk {
        position: absolute;
        bottom: 20px;
        right: 0px;
        left: 0px;
    }

    .lp {
        position: absolute;
        top: 20px;
        right: 0px;
        left: 0px;
    }

    .background_image1 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mm {
        border-top: 1px solid #ccc;
        background: #eee;
        background-color: $primary;
        color: #fff;
    }

    .nn {
        // padding-left: 40px;
        // padding-right: 40px;
        margin: 10px 0px;
        font-size: 16px;
        color: #000;
    }

    .order-now {
        width: 90%;
        margin-left: 5%;
       // margin-top: 12px;
        // margin-bottom: 12px;
        border-color: $primary !important;
        background-color:#fff !important;
    }

    .bb {
        border-right: 1px solid #ccc;
    }

    .actionButtons {
        padding: 15px;
        font-weight: bold;
    }

    .welcome {
        margin-top: 30px !important;
    }
}
