<ion-content class="background_image1"
    [ngStyle]="!global.caos_flag && {'background-image': 'url(' + global.welcome?.welcome_screen_image + ')'}">
    <div class="">
        <button ion-button clear *ngIf="global.caos_flag" class="ki" (click)="presentPrompt()"></button>
        <ion-grid style="padding: 40px 0px;">
            <ion-row>
                <ion-col col-3></ion-col>
                <ion-col col-6 class="businessLogo"><img src={{global.b_logo}} class="icon_img"></ion-col>
                <ion-col col-3></ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <video *ngIf="global.caos_flag" style="height: 100%" loop autoplay playsinline>
        <source src="https://onlineordering.mikronexus.com/online-ordering-new/assets/videos/demo.mp4" type="video/mp4">
    </video>

    <div padding>
        <ion-card text-center class="btn-margin jk">
            <h3 class="kk">{{global.welcome?.welcome_screen_title}}</h3>
            <p class="nn">{{global.welcome?.welcome_screen_subtitle}}</p>

            <button color="jack" *ngIf="!global.caos_flag && global.menu_ready == 'true'" ion-button block round outline class="order-now"
                (click)="guestlogin()">Order Now </button>
            <button color="jack" *ngIf="global.caos_flag" ion-button block round outline class="order-now"
                (click)="coaslogin()">Order Now As Guest </button>

            <ion-row class="mm" *ngIf="!global.caos_flag">
                <ion-col col-6 (click)="register()" class="bb actionButtons">
                    REGISTER
                </ion-col>
                <ion-col col-6 (click)="login()" class="actionButtons">
                    LOG IN
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
</ion-content>