page-points-model {

    .textStyle{

        font-size: 2rem;
        font-weight: bold;
    }

    .colStyle{
        text-align: center;
    }
   p{
        color: #666 !important;
     }

     .nh{
        border: solid thin $primary;; padding:0
     }
     .th{
        background:$primary;;color:white !important
     }
     .pi{
        border-bottom: solid thin $primary; 
     }
}
