<!--
  Generated template for the PunchDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="Open-Sans-bold">

  <ion-navbar color="primary">
    <ion-title>{{business_username}}</ion-title>

    <!-- <ion-buttons end>
       <button ion-button style = "color:white; float:right" (click)="dismiss()" clear small >Close</button>
      </ion-buttons> -->
  </ion-navbar>


</ion-header>


<ion-content style="background-color:#eee">
  <ion-card style="height:90%">

    <img style="padding: 10px; height:100%" src="{{punched_image}}">
    <!-- <div class = "punch-logo">    
       <div style="display:inline-block; padding:5px;" *ngFor="let item of createRange(punch_count)" >
      <img style="height:50px; width: 50px;" src="{{punched_icon_image}}">    
     </div>       
      <div style="display:inline-block; padding:5px;" *ngFor="let item of createRange2(punch_limit,punch_count)" >
      <img style="height:50px;opacity: 0.5; width: 50px; " src="{{punched_icon_image}}">
     </div>
     </div> -->
    <!-- <div style="    position: absolute;  bottom: 12%;  width: 100%; text-align:center;">
     <img style="    height: 70px; width:70px;  margin-left: 39%;" src="{{punch_qr}}">
     <ion-label style="margin-top:0;     text-shadow: -1px -1px 0 #f8f8f8, 1px -1px 0 #f8f8f8, -1px 1px 0 #f8f8f8, 1px 1px 0 #f8f8f8;">{{udid}}</ion-label>   
     </div> -->
    <!--<div style="top: 5%; position: absolute;width: 100%;"><h1 style="text-align:center;color:rgb(140,133,177); ">{{business_username}} </h1> </div>-->
    <div style="    position: absolute;
      top: 18%;
      width: 100%;">
      <ion-label *ngIf="punch_count.length == 2" class="Open-Sans-bold" style="font-size: 10rem;margin: 10px;position: absolute;   margin-left: 28%;    text-shadow: -1px -1px 0 #f8f8f8, 1px -1px 0 #f8f8f8, -1px 1px 0 #f8f8f8, 1px 1px 0 #f8f8f8; color:black">{{punch_count}} </ion-label>
      <p *ngIf="punch_count.length == 2" style="    position: absolute;    top: 84px; font-size: 3rem;  left: 57%; text-shadow: -1px -1px 0 #f8f8f8, 1px -1px 0 #f8f8f8, -1px 1px 0 #f8f8f8, 1px 1px 0 #f8f8f8; color: black;">
        /{{punch_limit}}</p>

      <ion-label *ngIf="punch_count.length == 3" class="Open-Sans-bold" style="font-size: 10rem;margin: 10px;position: absolute;   margin-left: 15%;    text-shadow: -1px -1px 0 #f8f8f8, 1px -1px 0 #f8f8f8, -1px 1px 0 #f8f8f8, 1px 1px 0 #f8f8f8; color:black">{{punch_count}} </ion-label>
      <p *ngIf="punch_count.length == 3" style="    position: absolute;    top: 84px; font-size: 3rem;  left: 59%; text-shadow: -1px -1px 0 #f8f8f8, 1px -1px 0 #f8f8f8, -1px 1px 0 #f8f8f8, 1px 1px 0 #f8f8f8; color: black;">
        /{{punch_limit}}</p>

      <ion-label *ngIf="punch_count.length == 1" class="Open-Sans-bold" style="font-size: 10rem;margin: 10px;position: absolute;      margin-left: 37%;   text-shadow: -1px -1px 0 #f8f8f8, 1px -1px 0 #f8f8f8, -1px 1px 0 #f8f8f8, 1px 1px 0 #f8f8f8; color:black">{{punch_count}} </ion-label>
      <p *ngIf="punch_count.length == 1 " style="    position: absolute;    top: 84px; font-size: 3rem;      left: 51%; text-shadow: -1px -1px 0 #f8f8f8, 1px -1px 0 #f8f8f8, -1px 1px 0 #f8f8f8, 1px 1px 0 #f8f8f8; color:black">
        /{{punch_limit}} </p>

    </div>
    <p style="      font-size: 2rem; top: 37%; margin: 10px; position: absolute;width: 88%;text-align: center; text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; color:white">
      {{lowestReward}} </p>

  </ion-card>
</ion-content>