page-cart {
    .scroll-content{
        padding: 7px !important;
    }
    .point-input .text-input{
        text-align: center !important;
    }
    .order-nav{
        color: #fff !important;
    }
    .padd-{
        padding: 8px;
        border-radius: 8px;
    }
    .addmore-btn{
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 23px;
        border-radius: 6px;
        color: #fff;
    }
    .cross_icon{
        padding: 5px 10px 5px 10px;
        background: #c0392b;
        border: 0px;
        color: #fff;
        position: absolute;
        top: -7px;
        right: -6px;
    }
    // .bill{
    //     ion-label{
    //         // text-align: center !important;
            
    //     }
    // }
}
