page-cart {
    .scroll-content{
        padding: 7px !important;
    }
    .point-input .text-input{
        text-align: center !important;
    }
    .order-nav{
        color: #fff !important;
    }
    .fs{
        font-size: 25px;
    }
    .padd-{
        padding: 8px;
        border-radius: 8px;
        background: #fff !important;
        overflow:unset !important;
    }
    .addmore-btn{
      
        border-radius: 6px;
    }
    .cross_icon{
        padding: 5px 10px 5px 10px;
        background: #c0392b;
        border: 0px;
        color: #fff;
        position: absolute;
        top: -15px;
        right: -14px;
    }
    // .bill{
    //     ion-label{
    //         // text-align: center !important;
            
    //     }
    // }
}
