page-intro-page8 {
    .toolbar-background{
        background: #27ae60;
        }

        .toolbar-title{
            color: white;
          }
          .back-button.show-back-button{
            color: white;
          }
          
}
