page-point-rewards {
    img{
        height: 250px;
        width: 100%;
        object-fit: cover
    }
    button{
        width: 70% !important;
        margin-left: 15% !important;
        margin-top: 40px !important;

    }
    .back{
        color: #7d4148;
        position: absolute;
        font-size: 25px;
        margin-left: 12px;
        font-weight: bold;
        margin-top: 13px;
    }
}
