<ion-header class="Open-Sans-bold">
  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>
<ion-content scroll="true" overflow-scroll="true" padding>
  <!-- <ion-icon name="arrow-round-back" class="back_icon_" (click)="back()"></ion-icon> -->
  <!-- <h3 text-center class="p_text pp">SIGN UP</h3> -->
  <p text-center class="p_text hh">
    Skip the line and Order-Online.
  </p>

  <div class="signUpBox">
    <form [formGroup]="signupForm" ng-submit="next(this.signupForm.value)">
      <ion-list>
        <ion-item>
          <ion-input type="submit" class="text-input" placeholder="First Name" formControlName="firstName" type="text">
          </ion-input>
        </ion-item>
        <div class="no-border"
          *ngIf="!signupForm.controls.firstName.valid && submitAttempt">
          <p class="invalid-text">Please enter a valid name.</p>
        </div>

        <ion-item>
          <ion-input type="submit" class="text-input" formControlName="lastName" placeholder="Last Name" type="text">
          </ion-input>
        </ion-item>
        <div class="no-border"
          *ngIf="!signupForm.controls.lastName.valid && submitAttempt">
          <p class="invalid-text">Please enter a valid name.</p>
        </div>

        <ion-item class="no-padding">
          <ion-input type="submit" class="text-input" formControlName="email" type="email" placeholder="Email">
          </ion-input>
        </ion-item>
        <div class="no-border" *ngIf="!signupForm.controls.email.valid && submitAttempt">
          <p class="invalid-text">Please enter a valid email.</p>
        </div>

        <!-- <ion-item class="no-padding">
            <ion-input class="text-input" type="submit" maxlength="3" formControlName="age" 
              placeholder="Age" type="phone"></ion-input>
          </ion-item>
          <div class="no-border"
          *ngIf="!signupForm.controls.age.valid && submitAttempt">
          <p class="invalid-text">Please enter a valid age.</p>
        </div>

        <ion-item class="no-padding">
            <ion-label style="padding-left : 9px">Gender</ion-label>
            <ion-select formControlName="gender" >
              <ion-option value="male">Male</ion-option>
              <ion-option value="female">Female</ion-option>
              <ion-option value="other">Prefer not to disclose</ion-option>
            </ion-select>
          </ion-item>
          <div class="no-border"
          *ngIf="!signupForm.controls.gender.valid && submitAttempt">
          <p class="invalid-text">Please select the gender.</p>
        </div> -->

        <ion-row>
          <ion-col col-4>
            <ion-item>
              <ion-select formControlName="phonecode" class="phonecode">
                <ion-option data-countryCode="GB" value="44">(+44)</ion-option>
                <ion-option data-countryCode="US" value="1">(+1)</ion-option>
                <ion-option data-countryCode="DZ" value="213">(+213)</ion-option>
                <ion-option data-countryCode="AD" value="376">(+376)</ion-option>
                <ion-option data-countryCode="AO" value="244">(+244)</ion-option>
                <ion-option data-countryCode="AI" value="1264">(+1264)</ion-option>
                <ion-option data-countryCode="AG" value="1268">(+1268)</ion-option>
                <ion-option data-countryCode="AR" value="54">(+54)</ion-option>
                <ion-option data-countryCode="AM" value="374">(+374)</ion-option>
                <ion-option data-countryCode="AW" value="297">(+297)</ion-option>
                <ion-option data-countryCode="AU" value="61">(+61)</ion-option>
                <ion-option data-countryCode="AT" value="43">(+43)</ion-option>
                <ion-option data-countryCode="AZ" value="994">(+994)</ion-option>
                <ion-option data-countryCode="BS" value="1242"> (+1242)</ion-option>
                <ion-option data-countryCode="BH" value="973">(+973)</ion-option>
                <ion-option data-countryCode="BD" value="880">(+880)</ion-option>
                <ion-option data-countryCode="BB" value="1246">(+1246)</ion-option>
                <ion-option data-countryCode="BY" value="375">(+375)</ion-option>
                <ion-option data-countryCode="BE" value="32">(+32)</ion-option>
                <ion-option data-countryCode="BZ" value="501">(+501)</ion-option>
                <ion-option data-countryCode="BJ" value="229">(+229)</ion-option>
                <ion-option data-countryCode="BM" value="1441">(+1441)</ion-option>
                <ion-option data-countryCode="BT" value="975">(+975)</ion-option>
                <ion-option data-countryCode="BO" value="591"> (+591)</ion-option>
                <ion-option data-countryCode="BA" value="387">(+387)</ion-option>
                <ion-option data-countryCode="BW" value="267"> (+267)</ion-option>
                <ion-option data-countryCode="BR" value="55">(+55)</ion-option>
                <ion-option data-countryCode="BN" value="673">(+673)</ion-option>
                <ion-option data-countryCode="BG" value="359">(+359)</ion-option>
                <ion-option data-countryCode="BF" value="226"> (+226)</ion-option>
                <ion-option data-countryCode="BI" value="257">(+257)</ion-option>
                <ion-option data-countryCode="KH" value="855">(+855)</ion-option>
                <ion-option data-countryCode="CM" value="237">(+237)</ion-option>
                <!-- <ion-option data-countryCode="CA" value="1">Canada (+1)</ion-option> -->
                <ion-option data-countryCode="CV" value="238"> (+238)</ion-option>
                <ion-option data-countryCode="KY" value="1345"> (+1345)</ion-option>
                <ion-option data-countryCode="CF" value="236"> (+236)</ion-option>
                <ion-option data-countryCode="CL" value="56">(+56)</ion-option>
                <ion-option data-countryCode="CN" value="86"> (+86)</ion-option>
                <ion-option data-countryCode="CO" value="57"> (+57)</ion-option>
                <ion-option data-countryCode="KM" value="269">(+269)</ion-option>
                <ion-option data-countryCode="CG" value="242"> (+242)</ion-option>
                <ion-option data-countryCode="CK" value="682"> (+682)</ion-option>
                <ion-option data-countryCode="CR" value="506">(+506)</ion-option>
                <ion-option data-countryCode="HR" value="385">(+385)</ion-option>
                <ion-option data-countryCode="CU" value="53">(+53)</ion-option>
                <ion-option data-countryCode="CY" value="90392"> (+90392)</ion-option>
                <ion-option data-countryCode="CY" value="357"> (+357)</ion-option>
                <ion-option data-countryCode="CZ" value="42"> (+42)</ion-option>
                <ion-option data-countryCode="DK" value="45">(+45)</ion-option>
                <ion-option data-countryCode="DJ" value="253"> (+253)</ion-option>
                <ion-option data-countryCode="DM" value="1809"> (+1809)</ion-option>
                <ion-option data-countryCode="DO" value="1809"> (+1809)</ion-option>
                <ion-option data-countryCode="EC" value="593"> (+593)</ion-option>
                <ion-option data-countryCode="EG" value="20"> (+20)</ion-option>
                <ion-option data-countryCode="SV" value="503">(+503)</ion-option>
                <ion-option data-countryCode="GQ" value="240"> (+240)</ion-option>
                <ion-option data-countryCode="ER" value="291">(+291)</ion-option>
                <ion-option data-countryCode="EE" value="372">(+372)</ion-option>
                <ion-option data-countryCode="ET" value="251"> (+251)</ion-option>
                <ion-option data-countryCode="FK" value="500">(+500)</ion-option>
                <ion-option data-countryCode="FO" value="298"> (+298)</ion-option>
                <ion-option data-countryCode="FJ" value="679">(+679)</ion-option>
                <ion-option data-countryCode="FI" value="358"> (+358)</ion-option>
                <ion-option data-countryCode="FR" value="33">(+33)</ion-option>
                <ion-option data-countryCode="GF" value="594"> (+594)</ion-option>
                <ion-option data-countryCode="PF" value="689"> (+689)</ion-option>
                <ion-option data-countryCode="GA" value="241">(+241)</ion-option>
                <ion-option data-countryCode="GM" value="220">(+220)</ion-option>
                <ion-option data-countryCode="GE" value="7880"> (+7880)</ion-option>
                <ion-option data-countryCode="DE" value="49">(+49)</ion-option>
                <ion-option data-countryCode="GH" value="233">(+233)</ion-option>
                <ion-option data-countryCode="GI" value="350">(+350)</ion-option>
                <ion-option data-countryCode="GR" value="30">(+30)</ion-option>
                <ion-option data-countryCode="GL" value="299">(+299)</ion-option>
                <ion-option data-countryCode="GD" value="1473">(+1473)</ion-option>
                <ion-option data-countryCode="GP" value="590"> (+590)</ion-option>
                <ion-option data-countryCode="GU" value="671">(+671)</ion-option>
                <ion-option data-countryCode="GT" value="502">(+502)</ion-option>
                <ion-option data-countryCode="GN" value="224">(+224)</ion-option>
                <ion-option data-countryCode="GW" value="245"> (+245)</ion-option>
                <ion-option data-countryCode="GY" value="592"> (+592)</ion-option>
                <ion-option data-countryCode="HT" value="509">(+509)</ion-option>
                <ion-option data-countryCode="HN" value="504">(+504)</ion-option>
                <ion-option data-countryCode="HK" value="852"> (+852)</ion-option>
                <ion-option data-countryCode="HU" value="36"> (+36)</ion-option>
                <ion-option data-countryCode="IS" value="354">(+354)</ion-option>
                <ion-option data-countryCode="IN" value="91">(+91)</ion-option>
                <ion-option data-countryCode="ID" value="62">(+62)</ion-option>
                <ion-option data-countryCode="IR" value="98">(+98)</ion-option>
                <ion-option data-countryCode="IQ" value="964">(+964)</ion-option>
                <ion-option data-countryCode="IE" value="353">(+353)</ion-option>
                <ion-option data-countryCode="IL" value="972">(+972)</ion-option>
                <ion-option data-countryCode="IT" value="39"> (+39)</ion-option>
                <ion-option data-countryCode="JM" value="1876"> (+1876)</ion-option>
                <ion-option data-countryCode="JP" value="81">(+81)</ion-option>
                <ion-option data-countryCode="JO" value="962">(+962)</ion-option>
                <ion-option data-countryCode="KZ" value="7">(+7)</ion-option>
                <ion-option data-countryCode="KE" value="254">(+254)</ion-option>
                <ion-option data-countryCode="KI" value="686">(+686)</ion-option>
                <ion-option data-countryCode="KP" value="850"> (+850)</ion-option>
                <ion-option data-countryCode="KR" value="82">(+82)</ion-option>
                <ion-option data-countryCode="KW" value="965">(+965)</ion-option>
                <ion-option data-countryCode="KG" value="996"> (+996)</ion-option>
                <ion-option data-countryCode="LA" value="856">(+856)</ion-option>
                <ion-option data-countryCode="LV" value="371">(+371)</ion-option>
                <ion-option data-countryCode="LB" value="961">(+961)</ion-option>
                <ion-option data-countryCode="LS" value="266">(+266)</ion-option>
                <ion-option data-countryCode="LR" value="231">(+231)</ion-option>
                <ion-option data-countryCode="LY" value="218">(+218)</ion-option>
                <ion-option data-countryCode="LI" value="417">(+417)</ion-option>
                <ion-option data-countryCode="LT" value="370">(+370)</ion-option>
                <ion-option data-countryCode="LU" value="352"> (+352)</ion-option>
                <ion-option data-countryCode="MO" value="853">(+853)</ion-option>
                <ion-option data-countryCode="MK" value="389"> (+389)</ion-option>
                <ion-option data-countryCode="MG" value="261">(+261)</ion-option>
                <ion-option data-countryCode="MW" value="265">(+265)</ion-option>
                <ion-option data-countryCode="MY" value="60">(+60)</ion-option>
                <ion-option data-countryCode="MV" value="960">(+960)</ion-option>
                <ion-option data-countryCode="ML" value="223">(+223)</ion-option>
                <ion-option data-countryCode="MT" value="356">(+356)</ion-option>
                <ion-option data-countryCode="MH" value="692">(+692)</ion-option>
                <ion-option data-countryCode="MQ" value="596">(+596)</ion-option>
                <ion-option data-countryCode="MR" value="222">(+222)</ion-option>
                <ion-option data-countryCode="YT" value="269">(+269)</ion-option>
                <ion-option data-countryCode="MX" value="52">(+52)</ion-option>
                <ion-option data-countryCode="FM" value="691">(+691)</ion-option>
                <ion-option data-countryCode="MD" value="373">(+373)</ion-option>
                <ion-option data-countryCode="MC" value="377">(+377)</ion-option>
                <ion-option data-countryCode="MN" value="976"> (+976)</ion-option>
                <ion-option data-countryCode="MS" value="1664"> (+1664)</ion-option>
                <ion-option data-countryCode="MA" value="212">(+212)</ion-option>
                <ion-option data-countryCode="MZ" value="258">(+258)</ion-option>
                <ion-option data-countryCode="MN" value="95">(+95)</ion-option>
                <ion-option data-countryCode="NA" value="264">(+264)</ion-option>
                <ion-option data-countryCode="NR" value="674">(+674)</ion-option>
                <ion-option data-countryCode="NP" value="977">(+977)</ion-option>
                <ion-option data-countryCode="NL" value="31"> (+31)</ion-option>
                <ion-option data-countryCode="NC" value="687"> (+687)</ion-option>
                <ion-option data-countryCode="NZ" value="64">(+64)</ion-option>
                <ion-option data-countryCode="NI" value="505">(+505)</ion-option>
                <ion-option data-countryCode="NE" value="227">(+227)</ion-option>
                <ion-option data-countryCode="NG" value="234">(+234)</ion-option>
                <ion-option data-countryCode="NU" value="683">(+683)</ion-option>
                <ion-option data-countryCode="NF" value="672"> (+672)</ion-option>
                <ion-option data-countryCode="NP" value="670"> (+670)</ion-option>
                <ion-option data-countryCode="NO" value="47">(+47)</ion-option>
                <ion-option data-countryCode="OM" value="968">(+968)</ion-option>
                <ion-option data-countryCode="PW" value="680">(+680)</ion-option>
                <ion-option data-countryCode="PA" value="507">(+507)</ion-option>
                <ion-option data-countryCode="PG" value="675">(+675)</ion-option>
                <ion-option data-countryCode="PG" value="92">(+92)</ion-option>

                <ion-option data-countryCode="PY" value="595">(+595)</ion-option>
                <ion-option data-countryCode="PE" value="51">(+51)</ion-option>
                <ion-option data-countryCode="PH" value="63">(+63)</ion-option>
                <ion-option data-countryCode="PL" value="48">(+48)</ion-option>
                <ion-option data-countryCode="PT" value="351"> (+351)</ion-option>
                <ion-option data-countryCode="PR" value="1787">(+1787)</ion-option>
                <ion-option data-countryCode="QA" value="974"> (+974)</ion-option>
                <ion-option data-countryCode="RE" value="262"> (+262)</ion-option>
                <ion-option data-countryCode="RO" value="40">(+40)</ion-option>
                <ion-option data-countryCode="RU" value="7">(+7)</ion-option>
                <ion-option data-countryCode="RW" value="250">(+250)</ion-option>
                <ion-option data-countryCode="SM" value="378">(+378)</ion-option>
                <ion-option data-countryCode="ST" value="239">(+239)</ion-option>
                <ion-option data-countryCode="SA" value="966">(+966)</ion-option>
                <ion-option data-countryCode="SN" value="221">(+221)</ion-option>
                <ion-option data-countryCode="CS" value="381">(+381)</ion-option>
                <ion-option data-countryCode="SC" value="248">(+248)</ion-option>
                <ion-option data-countryCode="SL" value="232">(+232)</ion-option>
                <ion-option data-countryCode="SG" value="65">(+65)</ion-option>
                <ion-option data-countryCode="SK" value="421">(+421)</ion-option>
                <ion-option data-countryCode="SI" value="386">(+386)</ion-option>
                <ion-option data-countryCode="SB" value="677"> (+677)</ion-option>
                <ion-option data-countryCode="SO" value="252">(+252)</ion-option>
                <ion-option data-countryCode="ZA" value="27"> (+27)</ion-option>
                <ion-option data-countryCode="ES" value="34"> (+34)</ion-option>
                <ion-option data-countryCode="LK" value="94">(+94)</ion-option>
                <ion-option data-countryCode="SH" value="290">(+290)</ion-option>
                <ion-option data-countryCode="KN" value="1869">(+1869)</ion-option>
                <ion-option data-countryCode="SC" value="1758">(+1758)</ion-option>
                <ion-option data-countryCode="SD" value="249">(+249)</ion-option>
                <ion-option data-countryCode="SR" value="597"> (+597)</ion-option>
                <ion-option data-countryCode="SZ" value="268">(+268)</ion-option>
                <ion-option data-countryCode="SE" value="46">(+46)</ion-option>
                <ion-option data-countryCode="CH" value="41">(+41)</ion-option>
                <ion-option data-countryCode="SI" value="963">(+963)</ion-option>
                <ion-option data-countryCode="TW" value="886">(+886)</ion-option>
                <ion-option data-countryCode="TJ" value="7">(+7)</ion-option>
                <ion-option data-countryCode="TH" value="66">(+66)</ion-option>
                <ion-option data-countryCode="TG" value="228">(+228)</ion-option>
                <ion-option data-countryCode="TO" value="676">(+676)</ion-option>
                <ion-option data-countryCode="TT" value="1868">(+1868)</ion-option>
                <ion-option data-countryCode="TN" value="216">(+216)</ion-option>
                <ion-option data-countryCode="TR" value="90">(+90)</ion-option>
                <ion-option data-countryCode="TM" value="7">(+7)</ion-option>
                <ion-option data-countryCode="TM" value="993"> (+993)</ion-option>
                <ion-option data-countryCode="TC" value="1649">(+1649)</ion-option>
                <!-- <ion-option data-countryCode="TV" value="688">Tuvalu (+688)</ion-option>
                <ion-option data-countryCode="UG" value="256">Uganda (+256)</ion-option>
                <ion-option data-countryCode="GB" value="44">UK (+44)</ion-option> 
                <ion-option data-countryCode="UA" value="380">Ukraine (+380)</ion-option>
                <ion-option data-countryCode="AE" value="971">United Arab Emirates (+971)</ion-option>
                <ion-option data-countryCode="UY" value="598">Uruguay (+598)</ion-option>
               <ion-option data-countryCode="US" value="1">USA (+1)</ion-option>
                <ion-option data-countryCode="UZ" value="7">Uzbekistan (+7)</ion-option>
                <ion-option data-countryCode="VU" value="678">Vanuatu (+678)</ion-option>
                <ion-option data-countryCode="VA" value="379">Vatican City (+379)</ion-option>
                <ion-option data-countryCode="VE" value="58">Venezuela (+58)</ion-option>
                <ion-option data-countryCode="VN" value="84">Vietnam (+84)</ion-option>
                <ion-option data-countryCode="VG" value="84">Virgin Islands - British (+1284)</ion-option>
                <ion-option data-countryCode="VI" value="84">Virgin Islands - US (+1340)</ion-option>
                <ion-option data-countryCode="WF" value="681">Wallis &amp; Futuna (+681)</ion-option>
                <ion-option data-countryCode="YE" value="969">Yemen (North)(+969)</ion-option>
                <ion-option data-countryCode="YE" value="967">Yemen (South)(+967)</ion-option>
                <ion-option data-countryCode="ZM" value="260">Zambia (+260)</ion-option>
                <ion-option data-countryCode="ZW" value="263">Zimbabwe (+263)</ion-option> -->
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item style="padding-left: 23px;">
              <!-- <ion-label style="margin-right:0;"> ({{signupForm.value.phonecode}}) </ion-label> -->
              <ion-input class="phone-input" style="display:inline" maxlength="10" type="submit" formControlName="phone"
                placeholder="Phone" type="tel"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <div class="no-border"
          *ngIf="!signupForm.controls.phone.valid && submitAttempt">
          <p class="invalid-text">Please enter a valid phone number.</p>
        </div>

        <ion-item *ngIf="profile_complete">
          <ion-input type="submit" class="text-input" formControlName="password" placeholder="Password" type="password">
          </ion-input>
        </ion-item>

        <ion-item *ngIf="!profile_complete">
          <ion-input type="submit" class="text-input" formControlName="password" placeholder="Password"
            type="password"></ion-input>
        </ion-item>
        <div class="no-border"
          *ngIf="!signupForm.controls.password.valid && submitAttempt">
          <p class="invalid-text">Please enter a valid password.</p>
        </div>

        <!-- <ion-item>
            <ion-datetime class="date_" placeholder="Birthday (Optional)" displayFormat="MMM/DD/YYYY" formControlName="birthday" ></ion-datetime>
          </ion-item>
      
      
          <ion-item>
            <ion-datetime class="date_" placeholder="Anniversary (Optional)" displayFormat="MMM/DD/YYYY" formControlName="anniversary" ></ion-datetime>
          </ion-item> -->

      </ion-list>
      <p text-center class="p_text gg" padding>
        Earn points for every purchase
        and get rewarded.
      </p>

      <button *ngIf="!profile_complete" ion-button block (click)="next(this.signupForm.value)">Register</button>
      <button *ngIf="profile_complete" ion-button block (click)="next(this.signupForm.value)">Update Profile</button>
    </form>
  </div>

</ion-content>