
<ion-content scroll="true" overflow-scroll="true" padding>

  <ion-icon name="arrow-round-back" class="back_icon_" (click)="back()"></ion-icon>
  <h3 text-center class="p_text pp">SIGN UP</h3>
  <p text-center class="p_text hh">
    Skip the line and Order-Online.
  </p>



  <div class="signUpBox">
    <form [formGroup]="signupForm" ng-submit="next(this.signupForm.value)">
      <ion-list >
        <ion-item>

          <ion-input type="submit" class="text-input" placeholder="First Name" formControlName="firstName" type="text">
          </ion-input>
        </ion-item>
        <div class="no-border" *ngIf="!signupForm.controls.firstName.valid  && (signupForm.controls.firstName.dirty || submitAttempt)">
          <p style="text-align: center; ">Please enter a valid name.</p>
        </div>

        <ion-item>

          <ion-input type="submit" class="text-input" formControlName="lastName" placeholder="Last Name" type="text"></ion-input>
        </ion-item>
        <div class="no-border" *ngIf="!signupForm.controls.lastName.valid  && (signupForm.controls.lastName.dirty || submitAttempt)">
          <p style="text-align: center;">Please enter a valid name.</p>
        </div>
        <ion-item class="no-padding">

            <ion-input type="submit" class="text-input" formControlName="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
          <div class="no-border" *ngIf="!signupForm.controls.email.valid  &&
          (signupForm.controls.email.dirty || submitAttempt)">
            <p style=" text-align: center;">Please enter a valid email.</p>
          </div>


        <ion-item style="padding-left: 23px;">

          
          <ion-label style="margin-right:0;"> ({{signupForm.value.phonecode}}) </ion-label>
          <ion-input  class="phone-input" style="display:inline"  maxlength= "15"  type="submit"  formControlName="phone"  placeholder="Phone" type="tel"></ion-input>
      
        </ion-item>

        <div class="no-border" *ngIf="!signupForm.controls.phone.valid  && (signupForm.controls.phone.dirty || submitAttempt)">
          <p style=" text-align: center;">Please enter a valid phone number.</p>
        </div>

        <ion-item>

          <ion-input type="submit" class="text-input" formControlName="password" placeholder="Password" type="password"></ion-input>
        </ion-item>
        <div class="no-border" *ngIf="!signupForm.controls.password.valid  && (signupForm.controls.password.dirty || submitAttempt)">
          <p style=" text-align: center;">Please enter a valid password.</p>
        </div>

        <ion-item>
            <ion-datetime class="date_" placeholder="Birthday (Optional)" displayFormat="MMM/DD/YYYY" formControlName="birthday" ></ion-datetime>
          </ion-item>
      
      
          <ion-item>
            <ion-datetime class="date_" placeholder="Anniversary (Optional)" displayFormat="MMM/DD/YYYY" formControlName="anniversary" ></ion-datetime>
          </ion-item>

      </ion-list>
      <p text-center class="p_text gg" padding>
        Earn points for every purchase
        and get rewarded.
        </p>

      <button ion-button block  (click)="next(this.signupForm.value)">Register</button>

    </form>



  </div>

</ion-content>