page-offers {
    ion-card{
        padding: 10px;
        margin: 0px !important;
        color: #555;

        div{
            line-height: 1.8;
        }
    }
    .myfontsize{
        font-size: 17px;
        color:#555;
    }
    img{
        height: 70px;
        width: 100%;
        object-fit: cover;
    }
    .or{
        font-size: 11px;
    }
}
