page-cart-detail {
  img{
   width: 40%;
   margin-left: 37%;
    object-fit: contain;
  }
  ion-card{
    border-radius: 9px !important;
  }

    .toolbar-title{
        color: #fff !important
      }
      
      .bar-buttons{
        color: #fff !important
      }
      .bar-button-default {
        color: #fff !important;
      }

     
}
