page-payment {
  .check{
      float: left;
      padding-right: 5px;
       margin-top: 12px;
  
  }
  .kkkj{
    text-align: center;
    color: #7d4148;
    margin: 0;
    line-height: 1.2;
    margin-top: 12px;

  }
  .button-md{
    color: #fff !important;
  }
  .cardno{
    background: transparent !important;
    margin-top: 8px;
    width: 80%;
    margin-left: 20%;
  }
  .name_heading{
    margin-left: 22px;
    color: #fff;
  }
  .exp-date{
    color: #fff;
  }
  
  ion-checkbox{
          margin-right: 10px !important;
  }

  .list-ios {
      margin: -1px 0 10px !important;
  }
  .signup-col{ 
      width: 100%;
      height: 58px;
      position: absolute;
      left: 0.5%;
      bottom: 0;
    //  margin-left: 0.5%;
      //margin-right: 2%;
  }
  .signup-col1{
    width: 80%;
    margin-left: 10%;
    
  }
  .text-input-md{
    margin: 3px 8px !important;
  }
  .login{
    //margin-top: 20px;
      position: absolute;
      float:left;
      width:48%;
      height: 40px;
      left:1.5%;
    border-radius: 8px;

      
    }
    .kll{
      color: #fff;
    border-bottom: 1px solid #fff;
    
    }
    .klll{
      color: #7d4148;
    border-bottom: 1px solid #7d4148;
    
    }
    ::placeholder {
      color: #fff !important;
      font-size: 11px !important;
    }
    .signUp{

      // margin-top: 20px;
     
       position: absolute;  
       float:right;
       width:48%;
      // border-left: solid ;
      // border-left-color: black;  
       height: 40px;
       right:1.5%;
        border-radius: 8px;

      // margin-right: 1%;
     }
     ion-label{
       margin: 0px !important;
       font-size: 14px;
     }

     .payment_card{
      padding: 10px;
      border-radius: 8px;
     }

     .background_image1{
        background-image: url("../assets/imgs/pay.png");

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;   
      min-height: 174px;

    }
    .background_image2{
      background-image: url("../assets/imgs/pay1.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    min-height: 174px;

  }
    .strip{
      background: #7d4148;
      height: 44px;
      margin-bottom: 11px;
      margin-left: -15px;
      margin-right: -15px;
      margin-top: 4px;
  
    }

}
