<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="back_menu">
    <ion-list>
      <button  menuClose ion-item (click)="OpenEvents()" *ngIf="globals.events_enabled == 1">
          <ion-icon name="calendar" class="myicon"></ion-icon>Events
      </button>
      <button menuClose ion-item (click)="openRewards()">
          <ion-icon name="star" class="myicon" ></ion-icon> My Rewards
          <ion-badge color="danger" class="rewards_badge" *ngIf="globals.TotalbadgeValue > 0 && globals.TotalbadgeValue != null" >{{globals.TotalbadgeValue}}</ion-badge>
        </button>
        <button menuClose ion-item (click)="openOrder()">
            <ion-icon name="restaurant" class="myicon"></ion-icon> Order
          </button>
          <button  menuClose ion-item (click)="openHistory()">
              <ion-icon name="list" class="myicon"></ion-icon> Order History
            </button>
        <button  menuClose ion-item (click)="openReviews()">
            <ion-icon name="clipboard" class="myicon"></ion-icon> Reviews
          </button>
          <!-- <button  menuClose ion-item (click)="scanQR()" *ngIf="!globals.guess_login">
            <ion-icon name="camera" class="myicon"></ion-icon> Scan
          </button> -->
          <button  menuClose ion-item (click)="show_gallery()" *ngIf="globals.gallery_enabled == 1">
              <ion-icon name="image" class="myicon"></ion-icon> Gallery
          </button>
          <button  menuClose ion-item  (click)="followUs()">
              <ion-icon name="md-share" class="myicon"></ion-icon> Follow Us
              <!-- <div id="fb-root"></div>

              <div class="fb-page" data-href="https://www.facebook.com/mikronexus/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/mikronexus/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mikronexus/">Follow Us Mikronexus</a></blockquote></div> -->

          </button>
      <button  menuClose ion-item (click)="OpenSettingPage()">
          <ion-icon name="settings" class="myicon"></ion-icon>Settings
      </button>
       <button menuClose ion-item (click)="logout()">
          <ion-icon name="log-out" class="myicon"></ion-icon> Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>