<ion-menu [content]="content" swipeEnabled="false">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="back_menu">
    <ion-list>
      <button menuClose ion-item (click)="aboutus()">
        <ion-icon name="information-circle" class="myicon"></ion-icon>About Us
      </button>

      <button *ngIf="globals.branch_enabled == 1" menuClose ion-item (click)="openBranches()">
        <ion-icon name="options" class="myicon"></ion-icon>Switch Location
      </button>

      <div *ngIf="globals.menu_ready == 'true'">
      <button menuClose ion-item (click)="openOrder()" *ngIf="globals.business_type == 'ordering' || globals.business_type == 'retail' || globals.business_type == 'salon'">
        <ion-icon *ngIf="globals.business_type == 'ordering'" name="restaurant" class="myicon"></ion-icon>
        <ion-icon *ngIf="globals.business_type == 'retail' || globals.business_type == 'salon'" name="ios-briefcase" class="myicon"></ion-icon> Order Now
      </button>
    </div>

    <div *ngIf="globals.appointment_enabled">
      <button menuClose ion-item (click)="bookingPage()" *ngIf="globals.business_type == 'ordering' || globals.business_type == 'retail' || globals.business_type == 'salon'">
        <ion-icon name="alarm" class="myicon"></ion-icon>
        Book Now
      </button>
    </div>
      <!-- <button menuClose ion-item (click)="bookingPage()" *ngIf="globals.business_type == 'salon'">
        <ion-icon name="alarm" class="myicon"></ion-icon> Services
      </button> -->
     <div *ngIf="globals.menu_ready == 'true'">
      <button menuClose ion-item (click)="openHistory()"
        *ngIf="globals.business_type == 'ordering' || globals.business_type == 'retail' || globals.business_type == 'salon'">
        <ion-icon name="list" class="myicon"></ion-icon> Order History
      </button>
      </div>

      <button menuClose ion-item (click)="openRewards()">
        <ion-icon name="star" class="myicon"></ion-icon> My Rewards
        <ion-badge color="danger" class="rewards_badge" *ngIf="globals.reward_menu_length > 0 ">
          {{globals.reward_menu_length}}</ion-badge>
      </button>

      <button menuClose ion-item (click)="show_gallery()" *ngIf="globals.gallery_enabled == 1">
        <ion-icon name="image" class="myicon"></ion-icon> Gallery
      </button>

      <button menuClose ion-item (click)="openReviews()" *ngIf="globals.review_enabled == 'true'">
        <ion-icon name="clipboard" class="myicon"></ion-icon> Reviews
      </button>

      <button menuClose ion-item (click)="OpenEvents()" *ngIf="globals.events_enabled == 1">
        <ion-icon name="calendar" class="myicon"></ion-icon>Events
      </button>

      <button menuClose ion-item (click)="openGiftCard()" *ngIf="globals.giftcard_enabled == 1">
        <ion-icon name="medal" class="myicon"></ion-icon>Gift Cards
      </button>

      <!-- <button menuClose ion-item (click)="business_list()">
        <ion-icon name="list-box" class="myicon"></ion-icon>Locations
      </button> -->

      <button menuClose ion-item (click)="OpenSettingPage()">
        <ion-icon name="settings" class="myicon"></ion-icon>Settings
      </button>

      <button menuClose ion-item (click)="logout()">
        <ion-icon name="log-out" class="myicon"></ion-icon> Logout
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
      <h5 *ngIf="globals.branch_enabled == 1" text-center><b>{{globals.selected_branch_name}}</b></h5>
    <p style="text-align: center">Powered by Mikronexus</p>
  
  </ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>