page-accept-terms {
    .review-text{
        padding: 16px;
        text-align: center;
    }

    .heading-top{
        margin-top: 73px !important;
    }

    ion-item{
        background: transparent !important;
    }

    .label_{
        text-overflow: unset !important;
        white-space: unset !important;
        color: #ababab;
    }

    .done{
        background-color: $primary !important;     
    }
}
