page-branches-aboutus {
    ion-card{
        border-radius: 8px !important;
        // color: #777 !important;
    }
    .bb{
        background: #eee;
    }
    .myicon1{
        color: #999;
        margin-right: 13px;
        font-size: 30px;
    }
    .bcd{
        border-bottom: 1px solid #ccc;
    }
}
