page-branches-aboutus {
    ion-card{
        border-radius: 8px !important;
        // color: #777 !important;
    }
    .bb{
        background: #eee;
    }
    .myicon1{
        color: #999;
        margin-right: 13px;
        font-size: 30px;
    }
    .bcd{
        border-bottom: 1px solid #ccc;
    }
    #map {
        width: 100%;
        height: 200px;
      }
      .myimage{
          width: 100%;
          object-fit: cover;
          height: 150px;
      }
      .ion-footer{
          background: #fff;
      }
      .branches{
          font-size: 22px;
      }
      ion-card{
          width: 100% !important;
          margin: 0px !important;
          margin-top: 20px !important;

      }
      .ion-logo-facebook{
          color: #3C5A99 !important;
      }
      .ion-logo-twitter{
        color:#00aced;
      }
      .ion-logo-instagram{
        color: #fb3958;
      }
      .ion-logo-snapchat{
        color:#FFFC00;
      }
      .ion-logo-youtube{
        color:#FF0000;
      }
}
