
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <h3 margin-left margin-top>
{{aboutus?.title}}
  </h3>
  <h5 margin-left>{{aboutus?.description}}</h5>
  <h2  margin-top text-center>Branches</h2>
  <div *ngFor='let item of places' (click)="branch_about(item.name,item.business_id,item.hours_operation,item.latitude,item.longitude,item.username)">
    <ion-row text-center class="bcd">
      <ion-col col-6>
        {{item.name}}
      </ion-col>
      <ion-col col-6>
        {{item.phone}}
      </ion-col>
    </ion-row>
  </div>
  <div #map id="map" margin-top></div>


</ion-content>
<ion-footer padding>
    <ion-row>
        <ion-col  *ngFor="let item of social_links">
             <ion-icon *ngIf="item.url" name={{item.icon}} class="myicon1" (click)="launch(item.url)"></ion-icon> 
         </ion-col>
     </ion-row>
</ion-footer>
