page-offer-details {
    .detail_img{
        height: 223px;
        object-fit: cover;
        width: 100%;
        margin-bottom: 16px;
    }
    .color_time{
        color:#999;
    }
    .linr{
        line-height: 1.5;
    }
    .toolbar-background{
        background-color: $primary !important;
    
      }

      .back-button{
        color: #fff !important;
    }
    .toolbar-title{
        color: #fff !important;

    }
}
