page-giftcards {
    .bl{
        border-left: 1px dashed #7d4148;
    }
    .g_image{
        height: 100px;
        width: 100%;
        object-fit: cover
    }
    .background_{
        background: #ccc;
    }
    .gc{
        font-size: 16px;
        text-align: center;
        padding-top: 14px;
    }
    .pt{
        padding-top: 5px;
    }
    .names{
        line-height: .9;
        margin-top: 10px;
    }
    .share{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px; 
    }
    ion-card{
        border-radius: 7px !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        width: 100% !important;
        margin: 0px !important;
    }
    .time{
        margin-top: 10px;
    }
}
