<!--
  Generated template for the MyRewardsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>My Rewards</ion-title>
    <ion-buttons end>
        <button ion-button    (click)="cartpage()">

            <ion-badge color="danger" *ngIf="globals.Product.length > 0">{{globals.Product.length}}</ion-badge>
            <ion-icon name="cart" style="font-size: 2.5rem;"> </ion-icon>
       
          </button>

    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content>

  <ion-segment color="primary" [(ngModel)]="option" (ionChange)="SegmentChange()" *ngIf="!cart_reward_view">
    <!-- <ion-segment-button style="font-size:1.1rem" value="gain">
      <ion-badge color="danger" item-left *ngIf="globals.RewardCount > 0">{{globals.RewardCount}}</ion-badge>
      GAIN
    </ion-segment-button> -->

    <ion-segment-button style="font-size:1.1rem" value="points" *ngIf="globals.point_check == 'true'">
      <!-- <ion-badge color="danger" item-left *ngIf="globals.PointCount > 0">{{globals.PointCount}}</ion-badge> -->
      POINTS
    </ion-segment-button>

    <ion-segment-button style="font-size:1.1rem" value="punch_cards" (click)="punch_items()" *ngIf="globals.punch_check == 'true'">
      <ion-badge color="danger" item-left *ngIf="globals.punchCount > 0">{{globals.punchCount}}</ion-badge>
      PUNCH CARDS
    </ion-segment-button>

    <ion-segment-button style="font-size:1.1rem" value="gifts">
      <ion-badge color="danger" item-left *ngIf="reward_menu_length > 0">{{reward_menu_length}}</ion-badge>
      MY REWARDS
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="option" style="height: 100%;">
    <!-- <div *ngSwitchCase="'gain'">
      <ion-searchbar *ngIf="!flag" [(ngModel)]="searchTerm" (input)="setFilteredItems()" [formControl]="searchControl"></ion-searchbar>

      <p style="text-align: center; margin-top: 60%;" *ngIf="gain_flag">Currently you do not have any rewards... </p>
      <ion-refresher style="top:10% !important;" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull down to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
      <div *ngIf="!gain_flag">
        <div *ngFor="let rewards of lotery">
          <ion-card *ngIf="rewards.is_birthday == 'false'" style="    margin-right: 4px !important;
              margin-left: 4px !important; width: calc(100% - 8px)!important;">
            <ion-grid>
              <ion-row>
                <ion-col col-3>
                  <img style="border-radius: 4px; height:70px;" src="{{rewards?.image}}">
                </ion-col>

                <ion-col col-6>
                  <h3 color="primary" style=" font-size: 1.4rem;color:#666;font-weight:bold">{{rewards?.businessname}} </h3>
                  <ion-label style="color:black" *ngIf="rewards.isnumber == true ">Store Credit:
                    <p style="color:red; font-size: 3rem;"> ${{rewards?.reward}} </p>
                  </ion-label>
                  <p style="color:red; font-size: 2.0rem;" *ngIf="rewards.isnumber == false"> {{rewards?.reward_string}} </p>
                    <p > Date:   {{rewards?.date}} </p>
                </ion-col>

                <ion-col style="padding: 0px !important;" col-3>
                  <img src="{{rewards?.redeem_qr}}">
                  <p style="text-align:center;"> {{rewards?.qr_text}}</p>
                </ion-col>
              </ion-row>

            </ion-grid>

          </ion-card>

        </div>
      </div>

    </div> -->
    <div *ngSwitchCase="'punch_cards'" class="back">

      <!-- <ion-searchbar *ngIf="!flag" [(ngModel)]="searchTerm" (input)="setFilteredItems()" [formControl]="searchControl"></ion-searchbar> -->

      <!-- <p style="text-align: center;" *ngIf="punchflag">Currently you do not have any punch cards... </p> -->
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull down to refresh" refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
      <div *ngIf="punch_menu_flag == true">
          <p style="padding-top: calc(50% - 11px); padding-right:20px; padding-left:20px; text-align: center; font-size: 22px; color:#a8a3a3;"><ion-icon name="eye-off"></ion-icon></p>
          <p no-margin style="padding-right:20px; padding-left:20px; text-align: center; font-size: 14px;">No Punches</p>
      </div>
      <div *ngIf="this.globals.punch_check == 'true'">
        <ion-row>
          <ion-col col-6 *ngFor="let rewards of punch_menu ;let i=index" >
            <ion-card>
                <img class="cup_img" src="{{rewards.image}}" />
                <div class="circle" id="circles{{i}}"> </div>
                  <h5 text-center>{{rewards.name}}</h5>
                  <h5 text-center>{{rewards.punch_count}}/{{rewards.punch_limit}} Punches</h5>
    
            <!-- <button ion-button round block [disabled]="rewards.punch_count != rewards.punch_limit" class="pll" (click)="redeem_point_menu_item(rewards.id,'punches')">Redeem</button> -->
            <button ion-button round block outline  class="pll" (click)="punch_model(rewards)">View Detail</button>

          </ion-card>

          </ion-col>
        </ion-row>
      </div>

    </div>
    <div *ngSwitchCase="'points'">
      <!-- <ion-searchbar *ngIf="!flag" [(ngModel)]="searchTerm" (input)="setFilteredItems()" [formControl]="searchControl"></ion-searchbar> -->
      <div *ngIf="this.globals.point_check == 'true'">
      <div col-6 class="point_s">
        <div class="youhave">You Have</div>
        <div class="points_design" *ngIf="globals.points_">{{globals.points_}} <ion-icon class="point-star" name="star"></ion-icon>
        </div>
        <div class="points_design" *ngIf="!globals.points_">0 <ion-icon class="point-star" name="star"></ion-icon>
        </div>

        <div class="pts">Points</div>
      </div>
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull down to refresh" refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
      <div *ngIf="globals.business_type == 'ordering'">
        <h3 text-center *ngIf="store_points?.length > 0">Cash Discount</h3>
        <ion-card *ngFor="let item of store_points" text-center class="store" (click)="store_points_fun()">
           <ion-row>
             <ion-col col-6>
               {{item.points}} Points
             </ion-col>
             <ion-col col-6>
               {{item.description}}
             </ion-col>
           </ion-row>
         </ion-card>
      </div>
      
    <h3 text-center *ngIf="point_menu?.length > 0"> Point Store</h3>
      <div *ngFor="let a of point_menu">
        <ion-card class="point_list point_card">
          <ion-row>
            <ion-col col-3 style="margin: auto;">

              <img class="itm-img" *ngIf="a.image" [src]="a.image ? a.image : globals.b_logo">
              <img class="itm-img" *ngIf="a.image == '' || !a.image" src={{globals.b_logo}}>
            </ion-col>
            <ion-col col-9 style="margin:auto">

              <p style="color:#444;font-size:1.5rem">{{a.name}} </p>
              <p style="font-size:1.3rem;padding-bottom: 10px;">{{a.points_description}} </p>

              <ion-row>
                <ion-col col-7>
                  <button [disabled]="a.point_price > globals.points_" ion-button round block class="redem_btn" (click)="points_buy_Confirm(a.id,'point_store')">BUY
                    ({{a.point_price}} points)</button>
                </ion-col>
                <ion-col col-5> 
                  <button  ion-button round block class="redem_btn" (click)="point_model(a)"> View Detail</button>
                </ion-col>
              </ion-row>
              
            </ion-col>

          </ion-row>
        </ion-card>
      </div>

    </div>
    </div>
    <div *ngSwitchCase="'gifts'">
      <!-- <ion-searchbar *ngIf="!flag" [(ngModel)]="searchTerm" (input)="setFilteredItems()" [formControl]="searchControl"></ion-searchbar> -->
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull down to refresh" refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
      <div *ngIf="reward_menu_flag == true">
          <p style="padding-top: calc(50% - 11px); padding-right:20px; padding-left:20px; text-align: center; font-size: 22px; color:#a8a3a3;"><ion-icon name="eye-off"></ion-icon></p>
          <p no-margin style="padding-right:20px; padding-left:20px; text-align: center; font-size: 14px;">No Rewards</p>
      </div>
      <div *ngFor="let a of reward_menu">
        <ion-card class="point_card">
          <ion-row>
            <ion-col col-3 style="margin: auto;">

              <img class="itm-img"  *ngIf="a.image" src="{{a.image}}" >
              <img class="itm-img" *ngIf="a.image == '' || !a.image" src={{globals.b_logo}}>
            </ion-col>
            <ion-col col-9 style="margin:auto">
                <ion-badge style="float:right" *ngIf="a.stock_quantity == 0" > Sold Out </ion-badge>
              <p style="color:#444;font-size:1.5rem">{{a.name}} </p>
              <p style="font-size:1.3rem;    padding-bottom: 10px;">{{a.tagline}} </p>

              <button *ngIf="reward_type_home == 'reward' || globals.branch_enabled == 0" ion-button round block [disabled]="a.stock_quantity == 0" class="redem_btn" (click)="Detail(a.id,a.image,a.freeExtras,a.reward_id)">Add
                to Cart</button>
            </ion-col>

          </ion-row>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>