page-my-rewards {
  .back{
    height: 100%;
    background: linear-gradient(135deg, rgba(240,82,63,1) 0%,rgba(243,156,18,1) 77%,rgba(241,196,15,1) 100%)
  }

    .point_s{
        padding-top: 11px;
        text-align: center;
        color: #666;
        margin-left: auto;
        margin-right: auto;
    }
    .points_design{
        // -webkit-text-stroke: 1px black;
        
        font-size: 50px;
        margin-top: 10px;
      }
      .pts{
        margin-top: -16px;
      }
      .point-star{
        font-size: 30px;
        color: #f1c40f;
        position: absolute;
      }
      .youhave{
        margin-bottom: -15px;
      }
      .circle {
        display: inline-block;
        margin: 1em;
        margin-left: 8%;
        margin-top: 22%;
    }
    .klm{
      font-size: 22px;
    margin: 0px;
    color: #fff;
    }
}
