page-my-rewards {
  .back{
    height: 100%;
  }
  button {
    ion-badge {
      position: absolute;
      top: -0.2rem;
      right: -0.2rem;
      opacity: 0.9;
  
      & ~ ion-icon {
        margin-right: 1.2rem;
      }
    }
  }
  .itm-img{
    width: 100%;
    height: 100px;
    object-fit: contain;
  }

  .cup_img{
    position: absolute;
    border-radius: 50%;
    width: 85px;
    top: 15.5%;
    left: calc(50% - 42.5px);
    font-size: 55px;
    color: #00529b;
    height: 85px;
  }
  .point_list{
    margin: 0px !important;
    width: 100% !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .store{
    padding: 6px;
    border-radius: 25px;
  }

    .point_s{
        padding-top: 11px;
        text-align: center;
        color: #666;
        margin-left: auto;
        margin-right: auto;
    }
    .redeem{
      background: #ccc !important;
    }
    .points_design{
        // -webkit-text-stroke: 1px black;
        
        font-size: 50px;
        margin-top: 10px;
      }
      .pts{
        margin-top: -16px;
      }
      .point-star{
        font-size: 30px;
        color: #f1c40f;
        position: absolute;
      }
      .youhave{
        margin-bottom: -15px;
      }
      .circle {
        text-align: center;
        display: block;
        margin: 0px;
        padding-top: 4%;
    }
    .klm{
      font-size: 22px;
    margin: 0px;
    color: #fff;
    }
    .b_r_i{
      height: 50px;
    width: auto;
    object-fit: cover;
    }
    .p-t{
      padding-top: 12px;
    }
    .rede{
      position: absolute;
      bottom: 0;
    }

    .point_card{
      border-radius: 7px !important;
      padding: 5px;
      margin-top: 0px !important;
      margin-bottom: 5px !important;
    }
    .redem_btn{
      height: 36px;
    font-size: 12px;
    
    }
    .pll{
      height: 30px;
      width: 90%;
      font-size: 12px;
      margin-left: auto;
      margin-right: auto;
    }
}
