page-events {
    ion-card{
        padding: 10px;
        margin: 0px !important;
        color: #555;
    }
    .myfontsize{
        font-size: 17px;
        color:#555;
    }
    img{
        height: 60px;
        width: 60px;
        object-fit: cover;
        border-radius: 50%;
    }

    .toolbar-background{
        background-color: $primary !important;
    
      }

}
