page-aboutus {
    #map {
        width: 100%;
        height: 200px;
      }
      .fb{
          font-weight: bold;
          border-bottom: 1px solid #ccc;
      }
      .myicon1{
        color: #999;
        margin-right: 13px;
        font-size: 30px;
    }
}
