page-upsell-product-modal {
    .card-style{
        margin: 5px 0px 5px 0px !important;
        width: auto !important;
    }

    .button_back{
        font-size: 15px;
    }

    .itm-img{
        height: 70px;
        border-radius:7px;
        object-fit: contain;
    }

    .add-cart-btn{
        font-weight: bold;
        font-size: 8px;
        margin: 12px 0px 0px 0px;
    }
}
