page-reservation {
    .index{
        font-size:3.5rem;
         text-align:center; 
         color:white 
    }
    .status{
        text-align: center;
        color: #666;
        border:solid;    
        position: absolute; 
        width: 95%;
     
         padding: 10px;
    }
    ul {
        padding: 0px;
        margin: 0px !important;
        padding-top: 3px;
          padding-bottom: 3px;
       
        &.rating li {
          padding: 0px !important;
          background: none;
          color: #ffb400;
       
          ion-icon {
           // font-size: 30px;
          }
        } 
      }
      
      .image{
        border-radius: 4px; 
        height:70px;
      }
      .delivery{
       font-size:1.2rem;
      }
      .discount-text{
        color:red;     
        font-size: 1.0rem;
      }
      .distance{
        font-size: 1.2rem; 
        text-align:right;
        padding-right:5px
      }
      .review-btn{
         position: absolute;
          bottom: 0px;
          width: 45px;
           height: 45px;
           border-radius: 50%;
            right:10px
      
      }
          .heading{
                font-weight: bold;
          }
          
      @media only screen and (min-width: 768px) { 
      
        
      .image{
        border-radius: 4px; 
        height:140px;
      }
      .delivery{
       font-size:2.4rem;
      }
      .discount-text{
        color:red;     
        font-size: 2.0rem;
      }
      .rating{
      
        font-size:2.5rem;
      }
      
      .heading{
        font-size:3rem;
      }
        
      .distance{
        font-size: 2.4rem
      }
      .review-btn{
         position: absolute;
          bottom: 0px;
          width: 90px;
           height: 90px;
           border-radius: 50%;
            right:10px
      
      }
          .review-btn ion-icon{
        font-size:4rem
      
      }
      }



      .index{
        font-size:4rem;
         text-align:center; 
         color:white ;
         margin-top: 25%;
        
    }
 
    .status{
        text-align: center;
        color: #666;
        border:solid;    
        position: absolute; 
        width: 95%;
         bottom: 0;    
         padding: 10px;
    }
     .order-total{
         font-size:3rem;
          color:black
     }
         .time{
             margin:0;
             font-size:1.6rem;
             color:#666;
            // margin-top:18px;
         }
 
    @media only screen and (device-aspect-ratio: 40/71)
 {
 
    .status{
        text-align: center;
        color: #666;
        border:solid;    
        position: absolute; 
        width: 95%;
         bottom: 0;    
         padding: 5px;
    }
 
     .index{
        font-size:3rem;
         text-align:center; 
         color:white 
    }
       .order-total{
         font-size:2.5rem;
          color:black
     }
          .time{
             margin:0;
             font-size:2rem;
             color:#666
         }
 
 
 }

}
