page-point-punch-model {
    img{
        height: 180px;
        border-radius: 7px;
        object-fit: contain;
        width: 100%;
    }
    .toolbar-background{
        background-color: $primary !important;
    
      }
}
